/* Header */

html {font-size: 112.5%;} /*18px*/
body {
  background-color: #F5F5F5;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #201437;
}

p {margin-bottom: 1rem;}

h1 {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 850;
  font-size: 44px;
  line-height: 67px;
  letter-spacing: 0.04em;
}

h2, h3 {
  margin: 3rem 0 1.38rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  margin-top: 0;
  font-size: 2.441rem;
}

h3 {font-size: 1.563rem;}

/*Universal */

button {
  font-size: 1.25rem;
  font-family: 'Titillium Web';
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: center;
  background-color: #B48FFF;
}

button:hover {
  background-color: #8862D5;
}

button:active {
  background-color: #8862D5;
}

input {
  font-size: 1.25rem;
  font-family: 'Titillium Web';
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: center;
}

input[type=button] {
  background-color: #B48FFF;
}

input[type=button]:hover {
  background-color: #8862D5;
}

input[type=button]:active {
  background-color: #8862D5;
}

label {
  font-style: italic;
}

#header {
  background: #B48FFF;
  height: 128px;
  width: 100%;
  position: relative;
  margin-top: 0px;
  z-index: 0;
  display: flex;
}

#logoHeaderRight {
  background: #B48FFF;
  position: relative;
  z-index: 1;
  margin-left: 8px;
  width: 12%;
  padding-right: 50%;
  height: 128px;
  text-align: center;
}

#logoHeaderLeft {
  background: #B48FFF ;
  position: relative;
  z-index: 1;
  margin-left: 8px;
  width: 130px;
  text-align: left;
  z-index: 1;
  padding: 0px;
}

#logo {
  mix-blend-mode: multiply;
  width: 130px;
}

#webpages {
  display: flex;
  position: relative;
  width: 30%;
}

#account {
  width: 50%;
}

#createVerify {
  width: 50%;
}

.indent {
  margin-left: 20px;
  margin-top: 20px;
}

/* Welcome page */
#welcomeMessage {
  text-align: center;
  margin-top: 12%;
}

#welcomeRedirect {
  text-align: center;
  height: 64px;
  width: 256px;
  background-color: #B48FFF;
  margin: 3% auto;
  display: block;
}

/* Create page */
#next {
  outline-style: solid;
  height: 32px;
  width: 128px;
  padding: 10px;
}

#inFile {
  height: 375px;
  width: 1500px;
  margin-top: 50px;
}
