.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
}
.text {
  color: #222222;;
  margin-top: var(--dl-space-space-twounits);
}
.container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.container02 {
  display: flex;
  z-index: 200;
  align-items: flex-start;
  justify-content: center;
}
.container03 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  margin-top: 25px;
  align-items: flex-start;
  flex-direction: column;
}
.text01 {
  color: #222222;;
  line-height: 1.425;
}
.container04 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text50 {
  align-self: center;
}
.code-embed {
  align-self: center;
}
.code-embed002 {
  align-self: center;
}
.code-embed004 {
  align-self: center;
}
.code-embed006 {
  align-self: center;
}
.code-embed008 {
  align-self: center;
}
.code-embed010 {
  align-self: center;
}
.code-embed012 {
  align-self: center;
}
.code-embed014 {
  align-self: center;
}
.code-embed016 {
  align-self: center;
}
.code-embed018 {
  align-self: center;
}
.code-embed020 {
  align-self: center;
}
.code-embed022 {
  align-self: center;
}
.code-embed024 {
  align-self: center;
}
.code-embed026 {
  align-self: center;
}
.code-embed028 {
  align-self: center;
}
.code-embed030 {
  align-self: center;
}
.code-embed032 {
  align-self: center;
}
.code-embed034 {
  align-self: center;
}
.code-embed036 {
  align-self: center;
}
.code-embed038 {
  align-self: center;
}
.code-embed040 {
  align-self: center;
}
.code-embed042 {
  align-self: center;
}
.code-embed044 {
  align-self: center;
}
.code-embed046 {
  align-self: center;
}
.container05 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text51 {
  align-self: center;
}
.code-embed048 {
  align-self: center;
}
.code-embed050 {
  align-self: center;
}
.code-embed052 {
  align-self: center;
}
.code-embed054 {
  align-self: center;
}
.code-embed056 {
  align-self: center;
}
.code-embed058 {
  align-self: center;
}
.code-embed060 {
  align-self: center;
}
.code-embed062 {
  align-self: center;
}
.code-embed064 {
  align-self: center;
}
.code-embed066 {
  align-self: center;
}
.code-embed068 {
  align-self: center;
}
.code-embed070 {
  align-self: center;
}
.code-embed072 {
  align-self: center;
}
.code-embed074 {
  align-self: center;
}
.code-embed076 {
  align-self: center;
}
.code-embed078 {
  align-self: center;
}
.code-embed080 {
  align-self: center;
}
.code-embed082 {
  align-self: center;
}
.code-embed084 {
  align-self: center;
}
.code-embed086 {
  align-self: center;
}
.code-embed088 {
  align-self: center;
}
.code-embed090 {
  align-self: center;
}
.code-embed092 {
  align-self: center;
}
.code-embed094 {
  align-self: center;
}
.container06 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text52 {
  align-self: center;
}
.code-embed096 {
  align-self: center;
}
.code-embed098 {
  align-self: center;
}
.code-embed100 {
  align-self: center;
}
.code-embed102 {
  align-self: center;
}
.code-embed104 {
  align-self: center;
}
.code-embed106 {
  align-self: center;
}
.code-embed108 {
  align-self: center;
}
.code-embed110 {
  align-self: center;
}
.code-embed112 {
  align-self: center;
}
.code-embed114 {
  align-self: center;
}
.code-embed116 {
  align-self: center;
}
.code-embed118 {
  align-self: center;
}
.code-embed120 {
  align-self: center;
}
.code-embed122 {
  align-self: center;
}
.code-embed124 {
  align-self: center;
}
.code-embed126 {
  align-self: center;
}
.code-embed128 {
  align-self: center;
}
.code-embed130 {
  align-self: center;
}
.code-embed132 {
  align-self: center;
}
.code-embed134 {
  align-self: center;
}
.code-embed136 {
  align-self: center;
}
.code-embed138 {
  align-self: center;
}
.code-embed140 {
  align-self: center;
}
.code-embed142 {
  align-self: center;
}
.container07 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text53 {
  align-self: center;
}
.code-embed144 {
  align-self: center;
}
.code-embed146 {
  align-self: center;
}
.code-embed148 {
  align-self: center;
}
.code-embed150 {
  align-self: center;
}
.code-embed152 {
  align-self: center;
}
.code-embed154 {
  align-self: center;
}
.code-embed156 {
  align-self: center;
}
.code-embed158 {
  align-self: center;
}
.code-embed160 {
  align-self: center;
}
.code-embed162 {
  align-self: center;
}
.code-embed164 {
  align-self: center;
}
.code-embed166 {
  align-self: center;
}
.code-embed168 {
  align-self: center;
}
.code-embed170 {
  align-self: center;
}
.code-embed172 {
  align-self: center;
}
.code-embed174 {
  align-self: center;
}
.code-embed176 {
  align-self: center;
}
.code-embed178 {
  align-self: center;
}
.code-embed180 {
  align-self: center;
}
.code-embed182 {
  align-self: center;
}
.code-embed184 {
  align-self: center;
}
.code-embed186 {
  align-self: center;
}
.code-embed188 {
  align-self: center;
}
.code-embed190 {
  align-self: center;
}
.container08 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text54 {
  align-self: center;
}
.code-embed192 {
  align-self: center;
}
.code-embed194 {
  align-self: center;
}
.code-embed196 {
  align-self: center;
}
.code-embed198 {
  align-self: center;
}
.code-embed200 {
  align-self: center;
}
.code-embed202 {
  align-self: center;
}
.code-embed204 {
  align-self: center;
}
.code-embed206 {
  align-self: center;
}
.code-embed208 {
  align-self: center;
}
.code-embed210 {
  align-self: center;
}
.code-embed212 {
  align-self: center;
}
.code-embed214 {
  align-self: center;
}
.code-embed216 {
  align-self: center;
}
.code-embed218 {
  align-self: center;
}
.code-embed220 {
  align-self: center;
}
.code-embed222 {
  align-self: center;
}
.code-embed224 {
  align-self: center;
}
.code-embed226 {
  align-self: center;
}
.code-embed228 {
  align-self: center;
}
.code-embed230 {
  align-self: center;
}
.code-embed232 {
  align-self: center;
}
.code-embed234 {
  align-self: center;
}
.code-embed236 {
  align-self: center;
}
.code-embed238 {
  align-self: center;
}
.container09 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text55 {
  align-self: center;
}
.code-embed240 {
  align-self: center;
}
.code-embed242 {
  align-self: center;
}
.code-embed244 {
  align-self: center;
}
.code-embed246 {
  align-self: center;
}
.code-embed248 {
  align-self: center;
}
.code-embed250 {
  align-self: center;
}
.code-embed252 {
  align-self: center;
}
.code-embed254 {
  align-self: center;
}
.code-embed256 {
  align-self: center;
}
.code-embed258 {
  align-self: center;
}
.code-embed260 {
  align-self: center;
}
.code-embed262 {
  align-self: center;
}
.code-embed264 {
  align-self: center;
}
.code-embed266 {
  align-self: center;
}
.code-embed268 {
  align-self: center;
}
.code-embed270 {
  align-self: center;
}
.code-embed272 {
  align-self: center;
}
.code-embed274 {
  align-self: center;
}
.code-embed276 {
  align-self: center;
}
.code-embed278 {
  align-self: center;
}
.code-embed280 {
  align-self: center;
}
.code-embed282 {
  align-self: center;
}
.code-embed284 {
  align-self: center;
}
.code-embed286 {
  align-self: center;
}
.container10 {
  width: 64px;
  height: 484px;
  display: flex;
  align-items: flex-start;
  margin-right: 4%;
  flex-direction: column;
}
.text56 {
  align-self: center;
}
.code-embed288 {
  align-self: center;
}
.code-embed290 {
  align-self: center;
}
.code-embed292 {
  align-self: center;
}
.code-embed294 {
  align-self: center;
}
.code-embed296 {
  align-self: center;
}
.code-embed298 {
  align-self: center;
}
.code-embed300 {
  align-self: center;
}
.code-embed302 {
  align-self: center;
}
.code-embed304 {
  align-self: center;
}
.code-embed306 {
  align-self: center;
}
.code-embed308 {
  align-self: center;
}
.code-embed310 {
  align-self: center;
}
.code-embed312 {
  align-self: center;
}
.code-embed314 {
  align-self: center;
}
.code-embed316 {
  align-self: center;
}
.code-embed318 {
  align-self: center;
}
.code-embed320 {
  align-self: center;
}
.code-embed322 {
  align-self: center;
}
.code-embed324 {
  align-self: center;
}
.code-embed326 {
  align-self: center;
}
.code-embed328 {
  align-self: center;
}
.code-embed330 {
  align-self: center;
}
.code-embed332 {
  align-self: center;
}
.code-embed334 {
  align-self: center;
}
.container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: inline-block;
  z-index: 0;
  position: absolute;
  margin-top: 25px;
  align-items: flex-start;
}
.container12 {
  gap: var(--dl-space-space-fourunits);
  flex: 0 0 auto;
  width: 50%;
  height: 100px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  justify-content: center;
}
.button {
  color: #fafafa;
}
