body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 1) 100%);
  height: 100vh;
}

h1 {
  font-family: Montserrat;
  text-align: center;
  font-size: 5rem;
  text-transform: capitalize;
  color: #F08784;
}

.carouselBox {
    width: 100%;
    height: 80vmin;
    padding: 20px;
    display: fixed;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel {

}

#carouselBack, #carouselForward {
    cursor: pointer;
    position: absolute;
    background-color: #F08784;
    width: 40px;
    height: 40px;
    opacity: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 5px;
    top: 50%;
    display: block;
    z-index: 1;
    color: lightgrey;
  }

  #carouselBack {
    left: 8%;
  }

  #carouselForward {
    right: 8%;
  }

  #carouselBack:hover, #carouselForward:hover {
    background-color: #700000;
    opacity: 100%;
    color: #F5F5F5;
  }

  .carouselImage {
    border-radius: 10px;
    position: absolute;
  }

 #carouselHidden {
    display: none;
  }

  #carouselCenter {
    max-width: 80%;
    max-height: 50%;
    position: absolute; 
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  #carouselCenter:hover {
    filter: sepia(90%) saturate(250%) brightness(80%) hue-rotate(180deg);
  }

  #carouselLeft, #carouselRight {
    max-width: 25%;
    max-height: 25%;
    filter: sepia(200%) saturate(150%) brightness(50%) hue-rotate(180deg);
    position: absolute; 
    top: 56%;
    left: 32%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  #carouselRight {
    margin-left: 36%;
  }

  .galleryText {
    width: 100%;
    text-align: left;
    vertical-align: bottom;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem; /*May change depending on description length*/
    font-weight: 400;
    line-height: 1.5;
  }
